<div class="cart-container">
  <h2>🧍 Información del Usuario</h2>
  <div class="user-info">
    <p><strong>Nombre:</strong> {{ user.name }}</p>
    <p><strong>Email:</strong> {{ user.email }}</p>
    <p><strong>Dirección:</strong> {{ user.address }}</p>
  </div>

  <h2>🛒 Productos en el Carrito</h2>
  <div class="cart-items">
    <div class="cart-item" *ngFor="let i of items">
      <img [src]="i.urlImage" alt="{{ i.name }}" />
      <div class="details">
        <h4>{{ i.name }}</h4>
        <p>Cantidad: {{ i.quantity }}</p>
        <p>Precio unitario: ${{ i.price | number:'1.0-0' }}</p>
        <p>Subtotal: ${{ i.price * i.quantity | number:'1.0-0' }}</p>
        <button class="btn btn-danger" type="submit">Eliminar Producto</button>
      </div>
    </div>
  </div>

  <div class="total-section">
    <h3>Total a pagar: ${{ getTotal() | number:'1.0-0' }}</h3>
    <button (click)="confirmPurchase()">Confirmar compra</button>
  </div>
</div>

