<app-header-admin></app-header-admin>
<div class="container my-5">
    <h2 class="mb-4 text-center">Listado de Categorias</h2>
    <button type="button" class="btn btn-success mb-4" [routerLink]="['/admin/category/add_category']" routerLinkActive="router-link-active"  routerLinkActive="router-link-active" >Nueva Categoria</button>
    <div class="table-responsive">
        <table class="table table-hover table-striped align-middle text-center">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody *ngFor="let c of categories">
                <tr>
                    <td>{{c.name}}</td>
                    <td><button class="btn btn-sm btn-warning" [routerLink]="['/admin/category/update',c.id]" routerLinkActive="router-link-active" >Editar</button></td>
                    <td><button class="btn btn-sm btn-danger" (click)="deleteCategoryById(c.id)">Eliminar</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>